
<div class="about-section">
    <div style="text-align: center;">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <br>
    <h1 style="color: rgb(0, 0, 0);">About Us?</h1>
</div>
    <div class="card">
        <div class="container">
            <div class="text">
                <h3 style="color: red;">Team </h3>
          <p>Architect & Engineer dit nostrum fugit tempora quidem deleniti voluptas tenetur 
            blanditiis vitae modi suscit culpa quos! Maxime.</p> 
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br>
             Recusandae ab dicta dit nostrum fugit tempora 
            quidem deleniti voluptas tenetur blanditiis vitae modi suscit culpa quos! Maxime. 
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae ab dicta.
            dit nostrum fugit tempora quidem deleniti voluptas tenetur blanditiis vitae modi suscit culpa quos! Maxime. 
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae ab dicta</p> 
            <br>
            <h3 style="color: red;">Work</h3>
            <p>
                dit nostrum fugit tempora quidem deleniti voluptas tenetur blanditiis vitae modi suscit culpa quos! Maxime. 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae ab dicta 
                dit nostrum fugit tempora quidem deleniti voluptas tenetur blanditiis vitae modi suscit culpa quos! Maxime. 
                Lorem ipsum dolor, sit amet.sanb  deleniti voluptas tenetur blanditiis vita deleniti voluptas tenetur blanditiis vita
                dit nostrum fugit tempora quidem deleniti voluptas tenetur blanditiis vitae modi suscit culpa quos! Maxime. 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae ab dicta, deleniti voluptas tenetur blanditiis vita
                deleniti voluptas tenetur blanditiis vita deleniti voluptas tenetur blanditiis vita deleniti voluptas tenetur blanditiis vita
            </p>
            <br><br><br>
            <div>
                <a href="https://www.facebook.com/login/" class="fa fa-facebook" style="margin-right: 10px;"></a>
                <a href="https://twitter.com/?lang=en" class="fa fa-twitter"  style="margin-right: 10px;"></a>
                <a href="https://myaccount.google.com/profile" class="fa fa-google"  style="margin-right: 10px;"></a>
                <a href="https://www.linkedin.com/login" class="fa fa-linkedin"  style="margin-right: 10px;"></a>
                <a href="https://www.instagram.com/accounts/login/" class="fa fa-instagram"  style="margin-right: 10px;"></a>
              </div>
        </div>
        </div>
      </div>
      
