<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
       
    </div>
    <ul class="nav navbar-nav">
      <li><a [routerLink] ="'/app-home-page'">Home</a></li>
      <li><a [routerLink] ="'/app-about'">About Us</a></li>
      <li><a [routerLink] ="'/app-contact-us'" >Contact</a></li>

    
    </ul>
    <span><a style="margin-left: 270px;" class="navbar-brand" href="#">SWRSystem</a></span>
    <ul class="nav navbar-nav navbar-right" ng-if= "isUserLogin()">
    
  
     <li><a [routerLink] ="'/app-customer-registration'"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
    
      <li><a [routerLink] ="'/app-vendor-registration'"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

    </ul>
  </div>
</nav>
  
</body>
</html>
 





    <!-- <li><a [routerLink] ="'/app-vendor-registration-page'"><span class="glyphicon glyphicon-log-in"></span> Register</a></li> -->
   <!-- <li><a [routerLink] ="'/app-register-page'"><span class="glyphicon glyphicon-log-in"></span> Register</a></li> -->









<!-- 

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a [routerLink] ="'/app-about'" class="nav-link" href="#">About</a>
        </li>
       
        <li class="nav-item">
          <a  [routerLink] ="'/app-contact-us'" class="nav-link" href="#">Contact us</a>
        </li>
      </ul>
    <a  [routerLink] ="'/app-login-page'" > <button type="button" class="btn btn-outline-primary" style="margin-right: 20px;">Login</button></a>
    <a  [routerLink] ="'/app-register-page'" ><button type="button" class="btn btn-outline-primary">Register</button></a>
    </div>
  </nav>
   <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> -->