.form-group{
    margin-bottom: 20px;
    margin-left: 120mm;
    padding-top: 10mm;
    
}

.btn
{
    margin-left: 48mm;
    background-color: rgb(49, 192, 13);
    color: rgb(0, 0, 0);
}
.clr
{
    background-color: rgb(188, 234, 255);
    height: 120mm;
}

.floatLabel
{
    width: 40%;
    padding-top: 3mm;
}