.result-res
{
    margin-right: 50px;
}

.home-height
{
    height: 350px;
}

.card {
    margin-left: 5mm;
    margin-right: 20mm;
    text-align: left;
    width: 98%;
    background-color: rgb(188, 234, 255);
    margin-bottom: 10px;
    position:relative;
    border-radius: 10mm;
  }

  .container
  {
      height: 30mm;
    
  }

  .text
  {
      text-align: left;
      padding-right: 80px;
  }


.card2 {
    margin-left: 5mm;
    margin-right: 20mm;
    text-align: left;
    width: 98%;
    background-color: rgb(188, 234, 255);
    margin-bottom: 10px;
    position:relative;
    height: 130mm;
    border-radius: 10mm;
  }

  .container2
  {
      height: 150mm;
  }

  .text2
  {
      text-align: left;
      padding-right: 90px;
      padding-left: 90px;
  }