<html>
<body>
<h3 style="text-align: center;">Contact Form</h3>
<div class="container">
    <label for="name">Enter Name</label>
    <input type="text" id="name" name="name" placeholder="Your full name..">

    <label for="lname">Enter Email Id</label>
    <input type="text" id="email" name="email" placeholder="Your email id..">

    <label for="subject">Feedback</label>
    <textarea id="feedback" name="feedback" placeholder="Write something.." style="height:100px"></textarea>

    <input type="submit" value="Submit" style="margin-left: 200mm;">

</div>

</body>
</html>
